:root {
  --item-border-color: rgb(111 118 134 / 50%);
  --item-background-color: rgb(111 118 134 / 30%);
}

h1 {
  padding: 2.5rem;
  padding-bottom: 0;
  margin-top: 0;
}

.dn-select {
  max-width: 1200px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 1.25rem;
  user-select: none;
  padding-bottom: 2.5rem;
  cursor: crosshair;
  padding: 2.5rem;
}

.dn-select-item {
  border: 1px solid var(--item-border-color);
  border-radius: 4px;
  padding: 1rem;
  aspect-ratio: 1/0.5;
  font-size: clamp(0.7rem, 1vw, 1rem);
  text-align: center;

  opacity: 0.8;
  transform: scale(0.95);
  background-color: var(--item-background-color);

  transition: opacity 75ms ease-out, background-color 75ms ease-out;

  &.selected {
    opacity: 1;
    border-color: rgb(95 174 255 / 40%);
    background-color: rgb(95 174 255 / 50%);
  }
}

.dn-select-box {
  will-change: left, top;
  border: 1.5px solid rgb(255 255 255 / 65%);
  background-color: rgb(98 99 101 / 35%);
}
