:root {
  --item-border-color: rgb(111 118 134 / 50%);
  --item-background-color: rgb(111 118 134 / 30%);
  --gap: 2.5rem;
  --page-width: 1200px;
}

h1 {
  margin-top: 0;
}

header {
  max-width: var(--page-width);
  padding: var(--gap);
  padding-bottom: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  border: 1px solid rgb(255 255 255 / 0%);
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
}

input[type='checkbox'] {
  height: 16px;
  display: block;
  margin: 0;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0.98;
}

.dn-select {
  max-width: var(--page-width);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 1.25rem;
  user-select: none;
  padding-bottom: var(--gap);
  cursor: crosshair;
  padding: var(--gap);
}

.dn-select-item {
  border: 1px solid var(--item-border-color);
  border-radius: 4px;
  padding: 1rem;
  aspect-ratio: 1/0.5;
  font-size: clamp(0.7rem, 1vw, 1rem);
  text-align: center;

  opacity: 0.8;
  transform: scale(0.95);
  background-color: var(--item-background-color);

  transition: opacity 75ms ease-out, background-color 75ms ease-out;

  &.selected {
    opacity: 1;
    border-color: rgb(95 174 255 / 40%);
    background-color: rgb(95 174 255 / 50%);
  }
}

.dn-select-box {
  will-change: left, top;
  border: 1.5px solid rgb(255 255 255 / 65%);
  background-color: rgb(98 99 101 / 35%);
}
